@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
.przycisk {
    background-color: red;
}
.naglowek{
    color: blue;

}
/* src/styles/MainLayout.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #4a90e2;
    color: white;
    padding: 15px 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    color: black;
    padding: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
label{
    color: black;
}
h2{

    background-color: #4a90e2;
    font-size: 30px;
    margin-bottom: 10px;
}
input{
    border: 1px solid black;
}
.home{
    background-color: #6ab0ff;
}